extends layout.auth

block content
  .ui.text.container
    .ui.inverted.red.segment
      #auth-accd.ui.inverted.fluid.accordion
        .title.active
          h2.ui.inverted.header(style='display:inline-block')
            i.big.icon
            | Sign in
        .content.active
          form#login-form.ui.large.form(method='POST', action='/signin')
            .ui.basic.segment
              .field
                .ui.input
                  input(type='text', name='username', placeholder='Enter Username', value='', required='', autofocus='')
              .field
                .ui.action.input
                  input(type='password', name='password', placeholder='Enter Password', required='')
                  button.ui.icon.button(type='submit')
                    i.red.angle.double.right.icon
              .ui.left.aligned.basic.segment(style='padding: 0;')
                .ui.error.message
                  ul.ui.list
                    li  
              .ui.horizontal.inverted.divider  Or 
        .title
          h2.ui.inverted.header(style='display:inline-block')
            i.big.inverted.angle.double.up.icon.fflipper
            | Sign up
        .content
          form#signup-form.ui.large.form(method='POST', action='/signup')
            .ui.basic.segment
              .stackable.fields
                .eight.wide.field
                  .ui.input
                    input(type='text', name='fname', placeholder='First Name', value='', required='')
                .eight.wide.field
                  .ui.input
                    input(type='text', name='lname', placeholder='Last Name', value='', required='')
              .stackable.fields
                .eight.wide.field
                  .ui.input
                    input(type='text', name='email', placeholder='Email Address', value='', required='')
                .eight.wide.field
                  .ui.input
                    input(type='text', name='phone', placeholder='Phone Number', value='', required='')
              .field
                .ui.checkbox
                  input(name='accept', type='checkbox')
                  label.white I accept all the terms and conditions
              .right.aligned.field
                .ui.input
                  button.ui.inverted.submit.button(type='submit') Sign Up!
