extends layout.site

block content
  // Intro Header
  // Full Page Image Background Carousel Header
  header#intro-carousel.carousel.slide(data-ride='carousel')
    // Optional Indicators
    //
      ol.carousel-indicators
        li.active(data-target='#intro-carousel', data-slide-to='0')
        li(data-target='#intro-carousel', data-slide-to='1')
        li(data-target='#intro-carousel', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner
      .item.active
        // Set the first background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-one.jpg');")
        .carousel-caption(style='text-align:left;')
          h1.animated.rotateInUpLeft.rubberBand.wobble(style='text-shadow: 2px 2px 8px #000;color: #fff;')
            | WELCOME TO PARTSMART
            span.highlight 
          p.intro-text.animated.slideInUp.wobble(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;')
            span.animated.rotateInUpLeft.wobble Genuine automobile parts, fast &amp; affordable
          br
          a.btn.btn-default.btn-lg(href='/form',style='background-color:#1a133f!important;') Search
        // .overlay-detail
      // /.item
      .item
        // Set the second background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-two.jpg');")
        .carousel-caption(style='text-align:right;')
          h1.animated.flipInX.shake(style='text-shadow: 2px 2px 8px #000;color: #fff;')
            span.highlight 
            |  STRESS-FREE<br> ORIGINAL PARTS
          p.intro-text.animated.bounceInLeft.bounce(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;margin:0;')
            span Order for original auto spare parts
          br
          p.intro-text.animated.rotateInUpLeft.wobble(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;margin:0;')
            span at affordable prices and have it
          br
          p.intro-text.animated.bounceInUp.swing(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;margin:0;')
            span delivered to your doorsteps
          br
          br
          a.btn.btn-default.btn-lg(href='/form',style='background-color:#1a133f!important;') Order now
        // .overlay-detail
      // /.item
      .item
        // Set the second background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-three.jpg');")
        .carousel-caption
          h1.animated.slideInDown(style='text-shadow: 2px 2px 8px #000;color: #fff;')
            |  ABILITY TO DELIVER
          p.intro-text.animated.slideInUp(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;margin:0;')
            span GMC, with its strategic international partnerships,
          br
          p.intro-text.animated.slideInUp(style='display:inline-block;font-weight:bold!important;color:#1a133f;background-color: white;margin:0;')
            span can fulfill on orders from around the world to customers
          br
          br
          a.btn.btn-default.btn-lg(href='/form',style='background-color:#1a133f!important;') Get parts
        // .overlay-detail
      // /.item
    // Controls
    a.left.carousel-control.squared(href='#intro-carousel', data-slide='prev')
      i.fa.fa-angle-left.fa-2x
    a.right.carousel-control.squared(href='#intro-carousel', data-slide='next')
      i.fa.fa-angle-right.fa-2x
    .mouse
  // About Section
  section#about.about.content-section.alt-bg-light
    .container
      .row
        .col-md-8
          h2(style='color:#1a133f;') About PartsMart
          h3.caption(style='color:#1a133f;') Our Company
          p(style='color:black;') PartsMart Nigeria Ltd is an indigenous company providing Nigerians with the platform for the purchase of genuine and authentic spare parts for Bikes, Cars &amp; Trucks from Original Equipment Manufacturers in US, UK and Europe, fast and affordable rate.
          blockquote(style='font-size:18px;')
            | To be a leading, reliable and customer focused player in the provision of genuine and authentic auto spare parts in the country through a strategic partnership with top auto spare part manufacturing companies built on highest ethical standards.
            span Vision Statement
          a.btn.btn-default(href='#about', style='background-color: #1a133f;')
            i.fa.fa-chevron-circle-right.fa-fw
            |  More
        // /.col-md-6
        .col-md-4
          h3 Part Search
            form#partForm.ajax-form(method='post', action='/search')
              .form-group
                select#make.form-control(required)
                  option -- select make --
                  each make in makes
                    option(value=make, title=make)= make
              .form-group
                select#model.form-control(required)
                
              .form-group
                select#year.form-control(required)
                
              .form-group                
                select#part.form-control(required)
                  option Alternator
                  option Carbon Brushes
                  option Coil
                  option Fuel gauge
                  option Housing
                  option Odometer
                  option Pulley
                  option Rectifier
                  option Regulator
                  option Retainer
                  option Rotor
                  option Rotor Assembly
                  option Slip Rings
                  option Speedometer
                  option Stator
                  option Tachometer
                  option Temperature gauge
                  option Tire pressure gauge
                  option Vacuum gauge
                  option Voltmeter
                  option Water temperature meter
              .form-group
                button.btn.btn-default(type='submit', name='submit', style='background-color: #1a133f;')
                  i.fa.fa-search.fa-fw
                  |  Send
        // /.col-md-6
      // /.row
    // /.container
  // /.section
  
  // Products Section
  section#products.products.content-section
    .container
      .row
        .col-md-4
          img#delivery-man.center-block.img-responsive(src='/assets/images/pix/delivery.png')
        // /.col-md-6
        .col-md-8
          .products-container
            .col-md-12
              h2 Why Choose PartsMart?
              h3.caption.white PartsMart aggregate parts, prices &amp; availability from various suppliers from around the world
            // /.col-md-12
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-list-ol.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Variety
                p We provide unrivalled variety in the choice of auto parts to all our customers anywhere in Nigeria
              // /.media-body
            // /.col-md-6
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-globe.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Global Reach
                p GMC, with its strategic international partnerships, can fulfill on orders from around the world to customers&apos; doorsteps
              // /.media-body
            // /.col-md-6
            
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-eye.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Quality Assurance
                p PartsMart aims to eradicate the challenge Nigerians face in getting quality parts for their vehicles
              // /.media-body
            // /.col-md-6
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-shield.fa-3x
              // /.media-left
              .media-body
                h3.media-heading You&apos;re Covered
                p Purchase genuine and authentic spare parts for bikes, cars &amp; trucks from OEMs in US, UK and Europe
              // /.media-body
            // /.col-md-6
          // /.products-container
        // /.col-md-6
      // /.row
    // /.container
  // /.products
  
  // Portfolio/Gallery Section
  section#portfolio.portfolio.content-section
    .container
      .row.text-center
        .col-md-12
          h2(style='color:#f5c607;text-align: center;')
            img.img-responsive(src='/assets/images/logo.png', alt='PartsMart', title='PartsMart', style='max-height: 128px;display:inline-block;')
          h3.caption.white
            | 
        // /.col-md-12
      // /.row
    // /.container
    .container.project-container.text-center
      .recent-project-carousel.owl-carousel.owl-theme.popup-gallery
        .item.recent-project
          img(src='/assets/images/pix/fem-mesh-in-cad.jpg', alt='PartsMart')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/tyre-store-dark.jpg', alt='PartsMart')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/mechanic.jpg', alt='PartsMart')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/car-engine.jpg', alt='PartsMart')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/engine-part.jpg', alt='PartsMart')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/opel-parts.jpg', alt='PartsMart')  
        // /.item
      // /.recent-project-carousel
      .customNavigation.project-navigation.text-center
        a.btn-prev
          i.fa.fa-angle-left.fa-2x
        a.btn-next
          i.fa.fa-angle-right.fa-2x
      // /.project-navigation
    // /.container
  // /.portfolio

  
  // Call to action - one section
  section.cta-one-section.content-section.alt-bg-light
    .container
      .row.text-center
        .col-md-6
          h2 Welcome Aboard
          h3.caption(style='color:black;') Get your genuine parts now
          p(style='color:black; text-align: justify;')
            |  PartsMart aims to eradicate the challenge Nigerians face in getting quality parts for their vehicles, which has left many vehicles at the workshop.
            |  
            |  PartsMart will be the largest platform for the provision of parts for vehicles ranging from bikes, cars to large trucks.
          a.btn.btn-default.btn-lg(href='#contact') Contact us
          a.btn.btn-outlined.btn-lg(href='#about') Order now!
        // /.col-md-6
        .col-md-6
          img#partbox.img-responsive(src='/assets/images/pix/box-of-parts.jpg')
        // /.col-md-6
      // /.row
    // /.container
  // /.cta-one-section
  
  // Call to action - two section
  section.cta-two-section
    .container
      .row
        .col-sm-9
          h3 Need a part?
          p We&apos;re here to help you get the best
        .col-sm-3
          a.btn.btn-overcolor(href='#about') Search now!
      // /.row
    // /.container
  // /.cta-two-section