extends layout.site

block content
  // Intro Header
  // Full Page Image Background Carousel Header
  header#intro-carousel.carousel.slide
    // Optional Indicators
    //
      ol.carousel-indicators
        li.active(data-target='#intro-carousel', data-slide-to='0')
        li(data-target='#intro-carousel', data-slide-to='1')
        li(data-target='#intro-carousel', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner
      .item.active
        // Set the first background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-one.jpg');")
        .carousel-caption(style='text-align:left;')
          h1.animated.slideInDown
            | Welcome to PartsMart
            span.highlight 
          p.intro-text.animated.slideInUp(style='font-weight: bold!important;')
            | Genuine automobile parts, fast &amp; affordable
          a.btn.btn-default.btn-lg(href='#about') Search
        .overlay-detail
      // /.item
      .item
        // Set the second background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-two.jpg');")
        .carousel-caption(style='text-align:right;')
          h1.animated.slideInDown
            span.highlight 
            |  Stress-free<br> Original Parts
          p.intro-text.animated.slideInUp Order for original auto spare parts <br>at affordable prices and have it <br>delivered to your doorsteps
          a.btn.btn-default.btn-lg(href='#about') Order now
        .overlay-detail
      // /.item
      .item
        // Set the second background image using inline CSS below.
        .fill(style="background-image:url('/assets/images/cover-three.jpg');")
        .carousel-caption
          h1.animated.slideInDown Ability to Deliver
          p.intro-text.animated.slideInUp
            | GMC, with its strategic international partnerships, <br>can fulfill on orders from around the world to customers
          a.btn.btn-default.btn-lg(href='#about') Get parts
        .overlay-detail
      // /.item
    // Controls
    a.left.carousel-control.squared(href='#intro-carousel', data-slide='prev')
      i.fa.fa-angle-left.fa-2x
    a.right.carousel-control.squared(href='#intro-carousel', data-slide='next')
      i.fa.fa-angle-right.fa-2x
    .mouse
  // About Section
  section#about.about.content-section.alt-bg-light
    .container
      .row
        .col-md-8
          h2 About PartsMart
          h3.caption.gray Our Company
          p(style='color:black;') PartsMart Nigeria Ltd is an indigenous company providing Nigerians with the platform for the purchase of genuine and authentic spare parts for Bikes, Cars &amp; Trucks from Original Equipment Manufacturers in US, UK and Europe, fast and affordable rate.
          blockquote
            | To be a leading, reliable and customer focused player in the provision of genuine and authentic auto spare parts in the country through a strategic partnership with top auto spare part manufacturing companies built on highest ethical standards.
            span Vision Statement
          a.btn.btn-default(href='#about')
            i.fa.fa-chevron-circle-right.fa-fw
            |  More
        // /.col-md-6
        .col-md-4
          h3 Part Search
            form#partForm.ajax-form(method='post', action='/search')
              .form-group
                select#make.form-control(required)
                  option -- select make --
                  each make in makes
                    option(value=make, title=make)= make
              .form-group
                select#model.form-control(required)
                
              .form-group
                select#year.form-control(required)
                
              .form-group                
                select#part.form-control(required)
                  option Alternator
                  option Carbon Brushes
                  option Coil
                  option Fuel gauge
                  option Housing
                  option Odometer
                  option Pulley
                  option Rectifier
                  option Regulator
                  option Retainer
                  option Rotor
                  option Rotor Assembly
                  option Slip Rings
                  option Speedometer
                  option Stator
                  option Tachometer
                  option Temperature gauge
                  option Tire pressure gauge
                  option Vacuum gauge
                  option Voltmeter
                  option Water temperature meter
              .form-group
                button.btn.btn-default(type='submit', name='submit')
                  i.fa.fa-search.fa-fw
                  |  Send
        // /.col-md-6
      // /.row
    // /.container
  // /.section
  
  // Products Section
  section#products.products.content-section
    .container
      .row
        .col-md-6
          img#delivery-man.center-block.img-responsive(src='/assets/images/pix/delivery.png')
        // /.col-md-6
        .col-md-6
          .products-container
            .col-md-12
              h2 Why Choose PartsMart?
              h3.caption.white PartsMart aggregate parts, prices &amp; availability from various suppliers from around the world
            // /.col-md-12
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-list-ol.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Variety
                p We provide unrivalled variety in the choice of auto parts to all our customers anywhere in Nigeria
              // /.media-body
            // /.col-md-6
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-globe.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Global Reach
                p GMC, with its strategic international partnerships, can fulfill on orders from around the world to customers&apos; doorsteps
              // /.media-body
            // /.col-md-6
            
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-eye.fa-3x
              // /.media-left
              .media-body
                h3.media-heading Quality Assurance
                p PartsMart aims to eradicate the challenge Nigerians face in getting quality parts for their vehicles
              // /.media-body
            // /.col-md-6
            .col-md-6.product-item
              .media-left
                span.icon
                  i.fa.fa-toggle-on.fa-3x
              // /.media-left
              .media-body
                h3.media-heading You&apos;re Covered
                p Purchase genuine and authentic spare parts for bikes, cars &amp; trucks from OEMs in US, UK and Europe
              // /.media-body
            // /.col-md-6
          // /.products-container
        // /.col-md-6
      // /.row
    // /.container
  // /.products
  
  // Portfolio/Gallery Section
  section#portfolio.portfolio.content-section
    .container
      .row.text-center
        .col-md-12
          h2 PartsMart
          h3.caption.white
            | 
        // /.col-md-12
      // /.row
    // /.container
    .container.project-container.text-center
      .recent-project-carousel.owl-carousel.owl-theme.popup-gallery
        .item.recent-project
          img(src='/assets/images/pix/engine-part.jpg', alt='')   
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/fem-mesh-in-cad.jpg', alt='')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/car-console.jpg', alt='')  
        // /.item
        .item.recent-project
          img(src='/assets/images/pix/mechanic.jpg', alt='')  
        // /.item
      // /.recent-project-carousel
      .customNavigation.project-navigation.text-center
        a.btn-prev
          i.fa.fa-angle-left.fa-2x
        a.btn-next
          i.fa.fa-angle-right.fa-2x
      // /.project-navigation
    // /.container
  // /.portfolio

  
  // Call to action - one section
  section.cta-one-section.content-section.alt-bg-light
    .container
      .row.text-center
        .col-md-6
          h2 Welcome Aboard
          h3.caption(style='color:black;') Get your genuine parts now
          p(style='color:black; text-align: justify;')
            |  PartsMart aims to eradicate the challenge Nigerians face in getting quality parts for their vehicles, which has left many vehicles at the workshop.
            |  
            |  PartsMart will be the largest platform for the provision of parts for vehicles ranging from bikes, cars to large trucks.
          a.btn.btn-default.btn-lg(href='#contact') Contact us
          a.btn.btn-outlined.btn-lg(href='#about') Order now!
        // /.col-md-6
        .col-md-6
          img.img-responsive(src='/assets/images/pix/box-of-parts.jpg')
        // /.col-md-6
      // /.row
    // /.container
  // /.cta-one-section
  
  // Call to action - two section
  section.cta-two-section
    .container
      .row
        .col-sm-9
          h3 Need a part?
          p We&apos;re here to help you get the best
        .col-sm-3
          a.btn.btn-overcolor(href='#about') Search now!
      // /.row
    // /.container
  // /.cta-two-section