extends layout.land

block content
  .ui.text.container
    h1.ui.inverted.header
      img(src='assets/img/logo.png', style='width:150px!important;')
    h2.ui.inverted.header
      | PartsMart
    p Nigeria&apos;s Number One Online Auto Parts Shop
    a#go-button.ui.huge.red.button(href='/auth') Order
