.ui.inverted.vertical.footer.center.aligned.segment
  .ui.container
    .ui.inverted.divided.equal.height.stackable.grid
      .sixteen.wide.column
        p
          | © #{(new Date()).getFullYear()} 
          strong A subsidiary of GMC Logistics Ltd.